.coffeelist-wrapper{
    width: 800px;
    margin: auto;
}
.coffeelist{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.coffeelist-item{
    list-style-type: none;
}

.coffeelist-item button{
    border-radius: 5px;
    background-color: rgb(128, 177, 206);
    border: 0;
    padding: 3px 15px;
    cursor: pointer;
    color: whitesmoke;
}

